Repository shebe-oss/shebe: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cache:rust, test:shebe

cache:rust:
  stage: cache
  image: registry.gitlab.com/rhobimd-oss/cicd/rust:20251101-b1.88-slim
  script:
  - 'set -euo pipefail
  
    cd ${SHEBE_SERVICE_DIR}
  
    echo "=== Building dependency cache ==="
  
    cargo check --all-features --workspace
  
    echo "=== Cache build complete ==="
  
    '
  cache:
    key:
      files:
  ...

test:shebe:
  cache:
    key:
      files:
      - services/shebe-server/Cargo.lock
    paths:
    - .cargo/
    - services/shebe-server/target/
    policy: pull
  stage: test
  image: registry.gitlab.com/rhobimd-oss/cicd/rust:20251101-b1.88-slim
  needs: []
  script:
  - 'set -euo pipefail
  
    cd ${SHEBE_SERVICE_DIR}
  
  
  ...

feat(ci): use native builds with dedicated images for MCPB pipeline
  .gitlab-ci.yml
  INSTALLATION.md
  Makefile
  README.md
  deploy/docker-compose.yml
  scripts/ci-build.sh
  services/shebe-server/Cargo.toml
  services/shebe-server/VERSION
Due: cache:rust, test:shebe

feat(ci): add MCP Registry publication support (work plan 019 phase 6)
  .gitlab-ci.yml
  CHANGELOG.md
  scripts/ci-mcpb-publish.sh
  scripts/ci-mcpb.sh
  scripts/ci-release.sh
  services/shebe-server/Cargo.toml
  services/shebe-server/VERSION
Due: cache:rust, test:shebe

chore(release): prepare v0.5.6-rc2 for MCP Registry publication
  .gitlab-ci.yml
  services/shebe-server/Cargo.toml
  services/shebe-server/VERSION
Due: cache:rust, test:shebe

docs: improve explanations
  .gitignore
  .gitlab-ci.yml
  CONTRIBUTING.md
  INSTALLATION.md
  README.md
  WHY_SHEBE.md
Due: none

chore(ci): add macOS build support via GitHub Actions
  .github/workflows/release-macos.yml
  .gitlab-ci.yml
  docs/CICD.md
  scripts/ci-build.sh
  scripts/ci-github-build.sh
  scripts/ci-github-release.sh
  server.json
  services/shebe-server/Cargo.toml
  services/shebe-server/VERSION
Due: cache:rust, test:shebe

ci: replace bash scripts with rci v0.1.1-rc1 CI/CD tool
  .gitlab-ci.yml
  services/shebe-server/Cargo.toml
  services/shebe-server/VERSION
Due: cache:rust, test:shebe

ci: replace bash scripts with rci v0.1.1-rc1 CI/CD tool
  .gitignore
  .gitlab-ci.yml
  Makefile
  deploy/.env.sccache.example
  deploy/docker-compose.yml
  deploy/entrypoint.sh
  services/shebe-server/Cargo.lock
  services/shebe-server/Cargo.toml
  services/shebe-server/VERSION
Due: cache:rust, test:shebe

fix(mcp): correct JSON-RPC notification handling and expand test coverage
  .github/workflows/test-coverage.yml
  .gitlab-ci.yml
  CHANGELOG.md
  Makefile
  README.md
  deploy/docker-compose.yml
  docs/testing/000-test-envelope-philosophy.md
  docs/testing/001-coverage-expansion-plan-01.md
  services/shebe-server/Cargo.lock
  services/shebe-server/Cargo.toml
  services/shebe-server/VERSION
  services/shebe-server/src/core/storage/tantivy.rs
  services/shebe-server/src/core/storage/validator.rs
  services/shebe-server/src/core/xdg.rs
  services/shebe-server/src/mcp/error.rs
  services/shebe-server/src/mcp/handlers.rs
  services/shebe-server/src/mcp/server.rs
  services/shebe-server/src/mcp/tools/preview_chunk.rs
  services/shebe-server/tests/mcp/handler_tests.rs
Due: cache:rust, test:shebe

fix(security): pin oneshot >= 0.1.12 and update CI pipeline
  .gitlab-ci.yml
  CHANGELOG.md
  services/shebe-server/Cargo.lock
  services/shebe-server/Cargo.toml
Due: cache:rust, test:shebe

fix(readme): correct pipeline badge URLs and update Cargo.lock version
  .gitlab-ci.yml
  README.md
  services/shebe-server/Cargo.lock
Due: cache:rust

chore: migrate repository from rhobimd-oss to shebe-oss group
  .gitlab-ci.yml
  CHANGELOG.md
  CONTRIBUTING.md
  INSTALLATION.md
  Makefile
  README.md
  SECURITY.md
  docs/CICD.md
  mcpb/manifest.json
  services/shebe-server/Cargo.lock
  services/shebe-server/Cargo.toml
Due: cache:rust, test:shebe

chore(release): prepare v0.5.8 release
  .gitlab-ci.yml
  ARCHITECTURE.md
  CHANGELOG.md
  INSTALLATION.md
  README.md
  docs/guides/cli-usage.md
  docs/guides/mcp-quick-start.md
  docs/guides/mcp-setup-guide.md
  docs/guides/mcp-tools-reference.md
  services/shebe-server/Cargo.lock
  services/shebe-server/Cargo.toml
  services/shebe-server/VERSION
Due: cache:rust, test:shebe

docs: update installation instructions for Homebrew tap
  INSTALLATION.md
  README.md
Due: none

feat(mcp): add pagination support to list_dir and read_file
  CHANGELOG.md
  docs/guides/mcp-tools-reference.md
  services/shebe-server/Cargo.lock
  services/shebe-server/Cargo.toml
  services/shebe-server/VERSION
  services/shebe-server/src/mcp/mod.rs
  services/shebe-server/src/mcp/pagination.rs
  services/shebe-server/src/mcp/tools/get_server_info.rs
  services/shebe-server/src/mcp/tools/list_dir.rs
  services/shebe-server/src/mcp/tools/read_file.rs
  services/shebe-server/src/mcp/utils.rs
  services/shebe-server/tests/mcp.rs
  services/shebe-server/tests/mcp/pagination_tests.rs
Due: cache:rust, test:shebe

docs: refresh core docs for v0.5.9-rc pagination release
  ARCHITECTURE.md
  CONFIGURATION.md
  INSTALLATION.md
  README.md
  docs/CICD.md
Due: none

chore(release): shebe 0.5.10 - rust 1.97 toolchain and dependency refresh
  .gitlab-ci.yml
  ARCHITECTURE.md
  README.md
  deploy/docker-compose.yml
  services/shebe-server/Cargo.lock
  services/shebe-server/Cargo.toml
  services/shebe-server/VERSION
  services/shebe-server/src/cli/commands/references.rs
  services/shebe-server/src/cli/mod.rs
  services/shebe-server/src/core/search/query.rs
  services/shebe-server/src/mcp/tools/list_dir.rs
Due: cache:rust, test:shebe

Path conditions:
  cache:rust: any of: services/shebe-server/Cargo.toml, services/shebe-server/Cargo.lock
  test:shebe: any of: services/shebe-server/Cargo.toml, services/shebe-server/VERSION
